---
layout: default
---

<div class="row">
    <div class="offset-xxl-2 col-xxl-6 offset-xl-1 col-xl-7 col-md-12 col-sm-12 col-12 ">
		<!-- Content -->
		<div class="docs-content mx-xxl-9">
			{{content}}
		</div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 col-12  d-none d-xl-block position-fixed end-0">
      <!-- sidebar nav fixed -->
      <div class="sidebar-nav-fixed">
        <span class="px-4 mb-2 d-block text-uppercase ls-md fw-semi-bold fs-6">목차</span>
        <ul class="list-unstyled" id="book-mark">

        </ul>
      </div>
    </div>

	<!-- Bookmark Components -->
	<script src="/assets/jiny/js/bookmark.js"></script>	
</div>